@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
:root {
    // Typography
    --main-font: 'Open Sans', sans-serif;
    --title-font: 'Montserrat', sans-serif;
}