@import '../utils/variables';

.home-component {
    padding-top: 150px;
    background-image: url('~@/assets/medios/monter-wallpaper.webp');
    background-position: center;
    background-size: cover;
}