<footer class="main-footer">
	<section class="footer-element footer-nav">
		<ul>
			<li><a href="#" class="title">ACERCA DE NOSOTROS</a></li>
			<li><a href="#" class="title">CONTÁCTANOS</a></li>
		</ul>
	</section>
	<section class="footer-element footer-subnav">
		<ul>
			<li>
				<h3 class="title">LEGAL</h3>
			</li>
			<li><a href="#">Términos de Uso</a></li>
			<li><a href="#">Política de Cookies</a></li>
			<li><a href="#">Política de Privacidad</a></li>
		</ul>
	</section>
	<section class="footer-element footer-social">
		<ul>
			<li>
				<h3 class="title">Síguenos</h3>
			</li>
			<li><a href="#">Términos de Uso</a></li>
		</ul>
	</section>
	<section class="footer-element footer-newsletter">

	</section>
</footer>