@import '../utils/variables';

header.main-header {
	width: 100%;
	position: fixed;
	.content {
		max-width: 1280px;
		margin: 0 auto;
		padding: 15px 0;
		display: flex;
		nav {
			img {
				max-height: 87px;
			}
		}
	}
}